.main-layout {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-list {
  width: 600px;
}

.add-todo-form {
  display: flex;
  width: 550px;
}

.filter-todo-items span {
  padding-left: 28px !important;
  padding-right: 30px;
  margin: 10px 0;
}
